<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <div>Lugar para poner la barra de búsqueda</div>
        <div>Comprá en cuotas y sin tarjeta de crédito</div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

        </nav>

        <nav>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>

            </ul>
        </nav>
    </header>
    <main>

        <section>
            <h3>
                Sección: Basado en tu última visita
            </h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div>$6.770</div>
                <div>40% OFF</div>
                <div>Cafetera Moulinex</div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div>$230.000</div>
                <div>20% OFF</div>
                <div>MacBook Pro 2019</div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
        <section>


            <h3>Sección de Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p>SmartTv Samsung 43"</p>
            </article>


        </section>
    </main>

    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en puntos de pago.<br> ¡Y siempre es seguro!
            </p>
            <div><strong>Envío gratis desde $ 2.500</strong></div>
            <p>
                Solo por estar registrad@ en Mercado Liebre <br>tenés envíos gratis en miles de productos. Es <br>un beneficio de Mercado Puntos.
            </p>
            <div><strong> Seguridad, de principio a fin</strong></div>
            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre <br> no hay nada que no puedas hacer, porque estás<br> siempre protegid@.
            </p>
            <div>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</div>
        </section>
    </footer>

</body>

</html>