* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 12px;
}

div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header {
    background-color: #EAC926;
}

header div.logo,
header .form {
    display: flex;
    width: 50%;
}

.input {
    width: 50%;
    height: 30px;
}

.submit {
    width: 10%;
    height: 30px;
}

header div.logo {
    padding: 10px;
}

div .logo {
    padding: 10px;
}

.contenedor-registro {
    display: block;
    justify-content: center;
    width: 50%;
    background-color: #ebebeb;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.nombreusuario,
.nombreapellido,
.inputpassword,
.alineacion {
    border-radius: 6px;
    border: none;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
    width: 90%;
    margin: 1rem;
}

.boton {
    border-radius: 6px;
    border: none;
    height: 30px;
    margin-top: 12px;
    padding: 10px;
    width: 90%;
    margin: 1rem;
    background-color: #1259c3;
    color: white;
}

.alineacionlabel {
    width: 90%;
    padding: 12px;
    font-weight: bold;
}

header nav {
    font-size: 12px;
    margin-left: 20px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.credit-card,
.gift,
.shield {
    color: #1259c3;
    size: 34px;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    display: flex;
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: visible;
    margin-top: 20px;
    opacity: 0;
}

.description:hover {
    opacity: 100;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 50ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.main-article i:hover {
    transform: rotate(270deg);
}

.boton:hover {
    background-color: #0022AA;
}

.credit-card i:hover {
    color: #EAC926;
    ;
}

.gift i:hover {
    color: #EAC926;
    ;
}

.shield i:hover {
    color: #EAC926;
    ;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3 {
    margin: 20px 0px;
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

footer {
    background-color: #ebebeb;
    text-align: center;
    color: #666;
    padding: 10px 0 0 0;
    position: static;
    bottom: 0;
}

.footer-container {
    display: block;
    margin: 15px 0;
    padding: 24px;
}

.lineaFinal {
    display: flex;
    margin-left: 1px;
    margin-top: 40px;
}

@media (max-width: 360px) {
    nav {
        display: none;
    }
}

@media (min-width: 361px) {
    main section article {
        display: block;
    }
    div.burger-menu {
        display: none;
    }
    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    main section div.products article {
        width: 45%;
    }
    .price,
    .discount {
        width: 50%;
    }
}

@media (min-width: 769px) {
    main section div.products article {
        width: 22%;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    nav li {
        display: flex;
        display: inline-block;
    }
    a {
        padding: 10px 10px;
    }
    input {
        display: flex;
        display: inline-block;
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
    }
}